<!DOCTYPE html>
<html>
<head>
    <!--Below is setup details for the web page-->
    <title>Demo Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="content">
        <!--Page heading and content-->
        <h1>Django Web Framework</h1>
        <hr />

        <!--Footer class for the bottom of the page-->
        <div class="footer">
            <p>&copy; Advanced</p>
        </div>
    </div>
</body>
</html>
